<!DOCTYPE html>  
  <html>
    <head>
    <link rel="alternate" 
          type="application/rss+xml" 
          title="Ultimos Artigos do Blog do Ramon" 
          href="/rss/ultimos/" />
          
      <title>Meu primeiro Blog!<title/> 
      <style type="text/css">
        body {
          font-family: Verdana, sans-serif;
          background-color: #696969;
          color: #B22222;
        }

        .header h1 {
          margin-bottom: 20px;
          margin-right: auto;
          margin-left: auto;
        }

        .center {
          background-color: #4682B4;
          color: white;
        }
        .rodape {
            color: red;
        } 
         
      </style>
    </head>

    <body>
      <div class="header">
        <h1>Meu blog</h1>
      </div>
      {% for artigo in object_list %}
        <div class="center">
          <a href="
             {% url meu_blog.blog.views.artigo artigo_id=artigo.id %}">
             <h2>{{ artigo.titulo }}</h2>
          </a>
          Publicado há {{ artigo.publicacao }}<br/>
          {{ artigo.conteudo }}
          
        </div>
      {% endfor %}
      {% include "rodape.html" %}
      
    </body>
  </html>

