{% extends "base.html" %}
  {% block conteudo %}
    <div class="image">
      <img src="{{ MEDIA_URL }}foto.jpg"/>
    </div>

    {% for artigo in latest %}
      <div class="artigo">
        <a href="{% url 'meu_blog.blog.views.artigo' artigo_id=artigo.id %}">
          <h2>{{ artigo.titulo }}</h2>
        </a>

        <div class="conteudo">
          Publicado há {{ artigo.publicacao|timesince }}<br/>
          {{ artigo.conteudo }}
        </div>

      </div>
    {% endfor %}
  {% endblock %}
