 body {
     font-family: Verdana, sans-serif;
     background-color: #4682B4;
     color: #FFD700;
}

h1 {
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

h2 {
    margin: 0;
    background-color: #0000CD;
    padding: 5px;
    font-size: 1.2em;
}

.image {
    position: relative;
    margin-right: 110px;
    margin-left: 110px;
}

.artigo {
    border: 1px solid black;
    background-color: #4682B4;
    color: white;
}

.conteudo {
    padding: 10px;
}

.rodape {
 border: 1px solid black;
 background-color: white;
 color: gray;
 margin-top: 10px;
 padding: 10px;
 }

.mensagem {
    margin: 5px;
    padding: 5px;
    background: yellow;
    border: 3px solid red;
    font-weight: bold;
    color: red;
}
